{% include "Account/base.html" %}
{% load static %}

{% block title %}
  <title>Attendees| User Profile</title>
{% endblock title %}

  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">

  {% include 'Account/admin_navbar.html' %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">


{% block content %}
<div class="content-wrapper">
    <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
      <form method="POST" class="mx-auto"> {% csrf_token %}
        <div class="form-group">
          <label for="coursename">Course Name</label>
          <input type="text" class="form-control" id="coursename" name="coursename" placeholder="Enter course">
        </div>

        <div class="form-group">
            <label for="faculty">Faculty</label>
            <select class="form-control" id="faculty" name="faculty">
                {% if faculties %}
                    {% for faculty in faculties %}
                        <option>{{ faculty }} </option>
                    {% endfor %}
                {% endif %}
            </select>
          </div>

        <button type="submit" class="btn btn-primary">Add Course</button>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}
</div>
</body>