{% include "Account/base.html" %}
{% load static %}

{% block title %}
  <title>Attendees| User Profile</title>
{% endblock title %}

  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">

  {% include 'Account/admin_navbar.html' %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">


{% block content %}

    <div class="content-wrapper">   

        {% if user.is_authenticated and user.role == "ADMIN" %}
        <section class="content">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">

            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                <div class="text-center"> 
                </div>
                          
                <h3 class="profile-username text-center"> <img src="/media/{{ adminUser.profile_pics }}" class="img-circle img-bordered-sm" alt="{{ profile.teacher.profile_pics }}" height=40 width=40>{{ request.user.username }}</h3>
                   <br>
               
                
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                     <b>Location</b> <a class="float-right">{{ adminUser.institute.location }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Phone Number</b> <a class="float-right">{{ adminUser.institute.phone }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Role</b> <a class="float-right">{{ adminUser.role }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Email</b> <a class="float-right">{{ adminUser.email }}</a>
                    </li>
                    
                </ul>
                </div>
            </div> 
            </div>

            <div class="col-md-7">
            <div class="card">
                <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link" href="#about" data-toggle="tab">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Activity</a></li>
                    <li class="nav-item"><a class="nav-link" href="#teachers" data-toggle="tab">Teacher Details</a></li>
                    <li class="nav-item"><a class="nav-link" href="#students" data-toggle="tab">Student Details</a></li>

                </ul>
                </div>
                <div class="card-body">
                <div class="tab-content">

                    <div class="active tab-pane" id="enrolled">
                    <div class="post">
                    <div class="post clearfix">
                        <div class="user-block">
                            <p>We provide Quality education. </p>
                        </div>
                    </div>
                    </div>
                    </div>

                    <div class="tab-pane" id="activity">
                        {% for post in posts %}
                            <div class="post">
                              <div class="user-block">
                                <span>
                                  <a href="#"><b>{{ request.user.username }}</b></a>
                                  <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                </span><br>
                              </div>
                              <p>
                                {{ post.caption }}  <a href="{% url 'postdetails' post.id %}">see details ..</a> 
                              </p>
    
                              <p>
                                <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                                <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> {{ post.likes.count }}</a>
                              </p>
                            </div>
                        {% endfor %}
                      </div>

                    <div class="tab-pane" id="students">
                            <div class="post">
                                <div class="user-block">
                                    <div class="table-responsive">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th>#</th>
                                              <th>Email</th>
                                              <th>Faculty</th>
                                              <th>Action</th>
                                            </tr>
                                          </thead>
                                        {% for student in student_details %}
                                              <tbody>
                                                <tr>
                                                {% for std in student.students.all %}
                                                     <td> {{ std.id }}</td>
                                                     <td>{{ std.email }}</td> 
                                                {% endfor %}
                                                <td> {{ student.faculty }} </td>
                                                <td> <button class="btn btn-primary">Edit</button></td>
                                                </tr>
                                              </tbody>
                                
                                        {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                    </div>

                    <div class="tab-pane" id="teachers">
                        <div class="post">
                            <div class="user-block">
                                <div class="table-responsive">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Email</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                      {{ teaccher_details }}
                                      {% for teacher in  teacher_details %}
                                          <tbody>
                                            <tr>
                                            {% for tchr in teacher.teacher.all %}
                                                 <td> {{ tchr.id }}</td>
                                                 <td>{{ tchr.email }}</td> 
                                            {% endfor %}
                                            <td> <button class="btn btn-primary">Edit</button></td>
                                            </tr>
                                          </tbody>
                            
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        </section>
        {% endif %}

    </div>
{% endblock %}
</div>
</body>