
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link">
      <span class="brand-text font-weight-light">Attendees</span>
    </a>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="{% url 'profile' %}" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Profile
              </p>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"> Dashboard</i>
              <p>             
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'start' %}" class="nav-link">
              <i class="fas fa-camera"></i>
              <p>
                Take Attendance
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'details' %}" class="nav-link">
              <i class="fas fa-stream"></i>
              <p>
                Attendance Details
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'stdregister' %}" class="nav-link">
              <i class="fas fa-user-friends"></i>
              <p>
                Add Students
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'teacheregister' %}" class="nav-link">
              <i class="fas fa-user-plus"></i>
              <p>
                Add Teacher
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'addcourse' %}" class="nav-link">
              <i class="fas fa-pen"></i>
              <p>
                 Add courses
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'assign' %}" class="nav-link">
              <i class="fas fa-arrow-alt-circle-right"></i>
              <p>
                 Assign Class
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </aside>