{% extends "Account/base.html" %}
{% load static %}

{% block title %}
    <title> College Registration page</title>
{% endblock title %}

{% block content %}
    {% if message %}
        {{ message }}
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

    
    <div class="form-section">
        <center>
        <h1>Register Here</h1>

        <form  method="POST" class="form">{% csrf_token %} 
        <div>
            <div>
                <label for="institute">Institute Name</label>
                <br />
                <input type="text" placeholder="Institute Name" class="form form-control" name="institute" />
            </div>
            <br/>

            <label for="email">Email</label>
            <br />
            <input type="email" placeholder="Email" class="form form-control" name="email" />
        </div>
        <br />
        <div>
            <label for="password">Password</label>
            <br />
            <input type="password" placeholder="Password" class="form form-control" name='password'/>
        </div>
        <br />
        <div>
            <label for="password">Confirm Password</label>
            <br />
            <input type="password" placeholder="Confirm Password" class="form form-control" name='c_password' />
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        </form>
    
        <!-- end of form of registration -->
    <p>Already have an account? <a href="{% url  'login' %}">login here</a></p>
    <br>
    <a href="{% url 'register' %}"><button class="btn btn-danger">Back</button></a>
</center> 

    </div>

{% endblock content %}