
{% include "Account/base.html" %}
{% load static%}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Attendees | Home Page</title>

  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">
</head>


<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button"> <i class="fas fa-search"></i></a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-user-circle"></i>
        </a>      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>

 {% include "Account/side_navbar.html" %}

  <div class="content-wrapper">

    <section class="content">

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <form method="POST" enctype="multipart/form-data" action="{% url 'addpost' %}" > {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" rows="2" name="caption" placeholder="Enter anything you want..."></textarea>
                <br>
                <input type="file" name="images">
                <button class="float-right btn btn-info btn-sm">Post</button>
              </div>
            </form>


              <div class="container my-5"> 

                {% for data in all_posts %}  

                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-10">
                           <a href="{% url 'profile' %}"><img src="/media/{{data.user.profile_pics}}" alt="User Image" class="img-fluid rounded-circle" height=40 width=40><b>{{ data.user.username }}</b></a>  - {{data.posted_on}}
                          <hr> 
                        </div>
                      
                        <div class="col-md-12">
                          <a href="{% url 'postdetails' data.id %}">
                          <h5 class="card-title">{{ all_posts.user.username }}</h5>
                          <p class="card-text">{{data.caption}}</p>
                          {% if data.images %}
                            <img src="media/{{ data.images }}" alt="{{ data.images}}" height="200",width="200">
                          {% else %}
                            <div></div>
                          {% endif %}
                        </a>
                          </br>
                          </br>
                        
                            <a href="{% url 'like_post' data.id %}" ><button type="button" class="btn btn-sm btn-outline-primary" id="likes-button">{{data.likes.count}} <i class="fas fa-thumbs-up"></i> Like</button></a> 
                            <button type="button" class="btn btn-sm btn-outline-secondary">{{data.comment.count}}<i class="fas fa-comment"></i> Comment</button>
        
                         
                          
                        </div>
                      </div>
                    </div>


                    <div class="card-footer ml-6">
                      <form method="POST" action="{% url 'addcomment' data.id %}">{% csrf_token %}
                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" name="usercomment" placeholder="Write a comment..." required> 
                                <button class="float-right btn btn-info btn-sm">Post</button>
                            </div>
                            
                          </div>
                        </div>
                      </form>
                    </div>

                  </div>
                {% endfor %}
              </div>
        
              <div class="row">
                <div class="col-12">
                  <h4>Recent Activity</h4>
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{% static 'dist/img/rojina.jpg' %}" alt="user image">
                        <span class="username">
                          <a href="#">Rojina Prajapati</a>
                        </span>
                        <span class="description">Shared publicly - 7:45 PM today</span>
                      </div>
                      <p>
                        Hi I am Rojina. 
                      </p>
                    </div> 
                </div>
              </div>
            </div>

            <div class="col-10 col-md-10 col-lg-3 order-1 order-md-2 m-3">
              <h5 class="text-primary"> Message from Principal</h5>
              <p class="text-muted">We at CAB, have has adopted a different teaching pedagogy. Concentration is mostly on the overall development of the students with sound research base.CAB has given students the opportunities to compete in regional.</p>
              <br>
              <div class="text-muted">
                <p class="text-sm">Ramesh Pandey
                  <b class="d-block">Principal</b>
                </p>
                <p class="text-sm">Rasindra Yadav
                  <b class="d-block">Vice-Principal</b>
                </p>
              </div>

              <h5 class="mt-5 text-muted">Student College files</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-library.mln</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                </li>
              </ul>
              <div class="text-center mt-5 mb-3">
                <a href="#" class="btn btn-sm btn-primary">Add files</a>
                <a href="#" class="btn btn-sm btn-warning">Report contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dist/js/main.js' %}"></script>
</body>
</html>
