{% extends "Account/base.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    {% if user.is_authenticated and user.role == "STUDENT" %}
        <h1> Hello student  {{user.username}}</h1>

    {% elif user.is_authenticated and user.role == "TEACHER" %}
    <h1> Hello Teacher  {{user.username}}</h1>
    
    {% elif user.is_authenticated and user.role == "ADMIN" %}
        <h1> Hello Institute  {{user.username}}</h1>

    {% elif user.is_authenticated %}
        <h1> Hi! I am authorized {{user.role}} </h1>
        
    {% else %}
        <h1>Hello world</h1>
    {% endif %}
{% endblock %}