{% extends 'Account/base.html' %}
{% load static %}

{% block title %}
    <title>Login Page</title>
{% endblock title %}

{% block content %}
    <style>
    .login-form {
      margin-top: 50px;
    }
  </style>
    {% if message %}
        {{ message }}
    {% endif %}


    <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-4 login-form">
            <div class="card">
              <div class="card-header">
                <h1 class="text-center">Login</h1>
              </div>
              <div class="card-body">
                <form action="" method ="POST" class="form">{% csrf_token %}
                    {{ login_form.as_p}}
                </br>
                    <center><button class="btn btn-success">Login</button></center>  
                </form>
            </br>
            </br>
                <center><p>Doesn't have an account?<a href="{% url 'clzregister' %}">register here</a></p></center> 
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- end of form of login -->
{% endblock %}