{% extends 'Account/base.html' %}
{% load static %}

{% block title %}
    <title>Login Page</title>
{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% if message %}
        {{ message }}
    {% endif %}
    <div class="form-section">
        <h1>Login Here</h1>
        <form action="" method ="POST" class="form">{% csrf_token %}
            {{ login_form.as_p}}
            <button class="btn btn-success">Login</button>
        </form>
        <!-- end of form of login -->
        <p>Doesn't have an account?<a href="{% url 'clzregister' %}">register here</a></p>
    </div>
    <footer class="fotter">
        <p class="copy-right">Copyright &copy;</p>
    </footer>
{% endblock %}