{% extends "Account/base.html" %}
{% load static %}

{% block title %}
    <title>Registration page</title>
{% endblock title %}

{% block content %}
    {% if message %}
        {{ message }}
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    
    <div class="form-section">
        <center>
        <h1>Register Here</h1>

        <form  method="POST" class="form">{% csrf_token %} 
        <div>
            <label for="email">Email</label>
            <br />
            <input type="email" placeholder="Email" class="form form-control" name="email" />
        </div>
        <br />
        <div>
            <label for="username">Username</label>
            <br />
            <input type="text" placeholder="Username" class="form form-control" name="username" />
        </div>
        <br />
        <div>
            <label for="password">Password</label>
            <br />
            <input type="password" placeholder="Password" class="form form-control" name='password'/>
        </div>
        <br />
        <div>
            <label for="password">Confirm Password</label>
            <br />
            <input type="password" placeholder="Confirm Password" class="form form-control" name='c_password' />
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        </form>
    
        <!-- end of form of registration -->
    <p>Already have an account? <a href="./login.html">login here</a></p>
</center> 
    </div>

{% endblock content %}