
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="user-block">
            <img class="img-circle img-bordered-sm" src="/media/{{ request.user.profile_pics }}" alt="user image">
            <div class="info">
                <a href="{% url 'profile' %}" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
      </div>

      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="user-block">
          <h5 class="text-white">Active users</h5>
        </div>
      </div>
      {% for user in all_users %}
        {% if user.id != request.user.id and user.is_active %}
          <div class="user-panel mt-1 pb-1 mb-1 d-flex">
            <div class="user-block">
                <img class="img-circle img-bordered-sm" src="/media/{{ user.profile_pics }}" alt="{{user.profile_pics}}">
                <div class="info">
                    <a href="{% url 'othersprofile' user.id %}" class="d-block">{{ user.username }}</a>
                </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </aside>